<html>
    <head>
        <title>Личный блог Kamilyaprince </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Учимся на ошибках </a></h1>
        </div>

        <div>
            <p>создано 26 ноября 2017 года </p>
            <h2><a href="">Мой первый пост </a></h2>
            <p>Сейчас мы рассмотрим первые уроки по html </p>
        </div>
        
        </div>
    </body> <p>Привет всем! </p>
    <p> От Камили  </p>
<h1 align = "center"> Это заголовок! </h1>
<h2 align = "center"> Подзаголовок! </h2>
<h3 align = "center"> И так далее </h3>
<em> Выделяй слова курсивом </em>
<strong> </br> </br> Или выдели их жирным шрифтом </strong>
<a href="https://djangogirls.org">Зайди на сайт Джанго и научить писать коды, а именно </a>
<ul><li>выучить базовые знания программирования</li><li>создать свой личный блог!</li>
<div></div>
</html>